*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  align-items: end;
  gap: 30px;
  grid-template-columns: 1fr 400px;
  margin: 133px 30px;
}

.result {
  display: grid;
  gap: 16px;
}

.result__video-container {
  position: relative;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  border: none;
}

.content__details {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.94;
  top: 0;
  margin-bottom: 25px;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  height: 300px;
}

.content__list::-webkit-scrollbar {
  width: 7px;
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2f4f4f;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 1fr 194px;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__checkbox {
  appearance: none;
  cursor: pointer;
}

.search-form__fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
}

.search-form__label-text {
  vertical-align: top;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  margin-top: 8px;
  appearance: none;
  border: none;
  background-color: #1b1919;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  margin: 6px 0 5px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  outline: 1px solid;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-bottom: 7px;
  margin-left: 1px;
}

/* ********* подчеркивание текста при наведении ********** */

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:not(:last-child) {
  margin-right: 12px;
}

.button {
  all: unset;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 34px;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current {
  background-color: #545050;
  margin: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  overflow-y: auto;
}

.content__video-card-title {
  font-family: "Oswald";
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  word-break: break-all;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  color: #fff;
}

.content__video-card-thumbnail {
  object-fit: cover;
  display: block;
  object-position: center;
  width: 190px;
  height: 103px;
}

.more-button {
  width: 99%;
  margin: 2px;
}

.content__card-link:active {
  background: #545050;
  padding: 2px;
}
